
body {
    background-color: white;
    font-family: sans-serif; 
    text-align: justify;
}
        
div {
    max-width: 900px; 
    margin:auto;
}
       
h1 {
    text-align: center;
}
       
footer {
    text-align: center;
}
      
table {
    margin-left: auto; 
    margin-right: auto;
}

